<div class="frame-main">
    <p>药理学是护理专业一门必修基础课，药理学是研究药物与机体之间相互作用及其规律的一门学科。研究护理人员在临床合理用药的地位和任务，其不仅介绍药物C的理化性质、药理作用、作用机制、临床应用，还着重阐述了药物的不良反应及防治措施、禁忌症、药物护理用药注意事项等相关内容。其主要任务是使本专业学生具备必需的药理学基本知识和基本技能，为学习医学相关专业知识、技能及做好临床护理工作打下一定基础。
    </p>
    <h1>一、使用教材</h1>
    <p>本课程是中等职业学校机电技术应用专业的一门重要的专业基础必修课程，是学习后续专业课程的电学基础。本课程包含交直流电路、磁路及变压器、模拟电子技术、数字电子技术四大模块。通过学习，学生较系统的掌握电工电子技术基础知识和基本技能，培养他们分析和解决生产生活中一般电工电子问题的能力。同时，注重对学生进行职业意识培养和职业道德教育，提高学生的综合素质与职业能力，增强适应职业变化的能力。
    </p>
    <h1>二、教学内容理论总学时</h1>
    <h2>重点：隧道工程的基本概念与功能</h2>
    <h3>1. 教学基本要求</h3>
    <p>本课程是中等职业学校机电技术应用专业的一门重要的专业基础必修课程，是学习后续专业课程的电学基础。本课程包含交直流电路、磁路及变压器、模拟电子技术、数字电子技术四大模块。通过学习，学生较系统的掌握电工电子技术基础知识和基本技能，培养他们分析和解决生产生活中一般电工电子问题的能力。同时，注重对学生进行职业意识培养和职业道德教育，提高学生的综合素质与职业能力，增强适应职业变化的能力。
    </p>
    <h4>1. 教学基本要求</h4>
    <table border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>
                    <p>焊接层次</p>
                </th>
                <th>
                    <p>焊丝直径</p>
                </th>
                <th>
                    <p>电流</p>
                </th>
                <th>
                    <p>电压</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>1</p>
                </td>
                <td>
                    <p>1.0mm</p>
                </td>
                <td>
                    <p>90~100</p>
                </td>
                <td>
                    <p>＞99.5%</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>1</p>
                </td>
                <td>
                    <p>1.0mm</p>
                </td>
                <td>
                    <p>90~100</p>
                </td>
                <td>
                    <p>＞99.5%</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>1</p>
                </td>
                <td>
                    <p>1.0mm</p>
                </td>
                <td>
                    <p>90~100</p>
                </td>
                <td>
                    <p>＞99.5%</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>1</p>
                </td>
                <td>
                    <p>1.0mm</p>
                </td>
                <td>
                    <p>90~100</p>
                </td>
                <td>
                    <p>＞99.5%</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>1</p>
                </td>
                <td>
                    <p>1.0mm</p>
                </td>
                <td>
                    <p>90~100</p>
                </td>
                <td>
                    <p>＞99.5%</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>内容主要包括：电工实训室及安全用电、串并联电路的搭建、电桥电路的安装与测量、电容器电感器的识读与检测、日光灯电路的安装与检测、小型配电箱的安装、小型变压器的检测、电动机的使用与维护、半导体收音机的制作、小音箱的制作、三角波—方波发生器的制作、调光台灯的制作、逻辑笔的制作、三人表决器的制作、四人抢答器的制作、秒计时器的制作等共17个项目，58个教学任务，287个知识点。
    </p>
    <img class="center-block" src="assets/img/demo.jpg" alt="" />
</div>
