<div class="frame-main">
    <div class="teacher">
        <div class="base-info">
            <div class="teacher-photo">
                <div class="img">
                    <img src="./assets/img/yftd/demo_teacher.png" />
                </div>
            </div>
            <div class="teacher-info">
                <div class="name">教师姓名</div>
                <div class="info">
                    <p>
                        <span>性别：</span>女 <span>学历：</span>研究生
                    </p>
                    <p>
                        <span>职位：</span>高级讲师，“双师型”教师，中共党员，现任上梧州市卫生学校某某系主任、商务英语专业学科带头人。
                    </p>
                    <p>
                        <span>主要教授课程：</span>中高职英语、商务英语、英语口译等。
                    </p>
                </div>
            </div>
        </div>
        <h3>撰写的论文</h3>
        <p>本教材主要内容包括药理学基础知识和常用药物的作用、应用、不良反应和注意事项、常见疾病药物治疗的一般原则和用药技能等，旨在培养学生掌握合理用药的基本知识，学会对农村地区常见病、多发病药物治疗的一般技能，养成科学的用药思维，确保临床用药安全、有效，提高医疗水平。
        </p>
        <h3>编写的校本教材</h3>
        <p>常见疾病药物治疗的一般原则和用药技能等，旨在培养学生掌握合理用药的基本知识，学农村地区常见病、多发病药物治疗的一般技能，养成科学的用药思维，确保临床用药安全、有效，提高医疗水平。</p>
    </div>
    <div class="teacher">
        <div class="base-info">
            <div class="teacher-photo">
                <div class="img">
                    <img src="./assets/img/yftd/demo_teacher.png" />
                </div>
            </div>
            <div class="teacher-info">
                <div class="name">教师姓名</div>
                <div class="info">
                    <p>
                        <span>性别：</span>女 <span>学历：</span>研究生
                    </p>
                    <p>
                        <span>职位：</span>高级讲师，“双师型”教师，中共党员，现任上梧州市卫生学校某某系主任、商务英语专业学科带头人。
                    </p>
                    <p>
                        <span>主要教授课程：</span>中高职英语、商务英语、英语口译等。
                    </p>
                </div>
            </div>
        </div>
        <h3>撰写的论文</h3>
        <p>本教材主要内容包括药理学基础知识和常用药物的作用、应用、不良反应和注意事项、常见疾病药物治疗的一般原则和用药技能等，旨在培养学生掌握合理用药的基本知识，学会对农村地区常见病、多发病药物治疗的一般技能，养成科学的用药思维，确保临床用药安全、有效，提高医疗水平。
        </p>
        <h3>编写的校本教材</h3>
        <p>常见疾病药物治疗的一般原则和用药技能等，旨在培养学生掌握合理用药的基本知识，学农村地区常见病、多发病药物治疗的一般技能，养成科学的用药思维，确保临床用药安全、有效，提高医疗水平。</p>
    </div>
</div>
