<div class="frame-main jszc">
    <p>成都依能科技股份有限公司成立于2004年，总部位于成都市高新西区，是一家专业从事信息化管理领域咨询、规划、建设和服务的高新技术企业和软件企业。</p>
    <p>依能教育业务主要面向各级各类学校，主要产品包括：整合集成的学校智慧校园平台YNedut；职业院校互联网综合门户系统；专业数字化教学资源库合作开发；便携式移动录课新方案——微讲师多媒体教学盒；“全纳型”多媒体教学解决方案——微讲师智能讲台；职业院校内部质量保证体系建设及诊改咨询服务等。依能致力于帮助职业院校提升内部管理水平，以整合集成的信息化平台为过程改进提供数据支撑，形成不断自我优化的质量管理保障机制，保障教育教学质量，推动职业院校可持续发展。</p>
    <p>近年来，依能先后承担了教育部、交通运输部等部委；高等教育出版社、电子工业出版社等大型出版社；国内四十多所985/211高校以及数百所职业院校委托的数字化教学资源建设及智慧校园平台等设计开发项目。</p>
    <p>
            在可以预见的将来，信息化手段将极大地改变现行的教育模式，深刻地影响我们所处的这个瞬息万变的时代。弄潮当向潮头立，矢志专攻教育术！依能渴望洞悉教育信息化的未来，勤耕不辍，立志做一名执著的耕耘者！
    </p>
    <a href="http://www.yineng.com.cn/" target="_blank" class="goto-yineng">进入官网</a>
    <p class="center">
        <img src="./assets/img/yineng.jpg" >
    </p>
</div>
