@mixin clearfloat() {
  content: ' ';
  display: table;
  width: 0;
  height: 0;
  clear: both;
}

@mixin text-overflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin text-multi($line: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

@mixin word-break() {
  word-wrap: break-word;
  word-break: break-all;
  white-space: initial;
}


@mixin transition($transition:all 0.5s ease) {
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
}

@mixin border-radius($border-radius:3px) {
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
}

// 三角形
@mixin triangle($direction: bottom, $color: #343434, $width: 8px, $height: 4px) {
  width: 0;
  height: 0;

  @if $direction==bottom {
    border: {
      top: $width/2 solid $color;
      left: $height solid transparent;
      right: $height solid transparent;
    }
  }

  @if $direction==top {
    border: {
      bottom: $width/2 solid $color;
      left: $height solid transparent;
      right: $height solid transparent;
    }
  }

  @if $direction==left {
    border: {
      right: $height/2 solid $color;
      top: $width solid transparent;
      bottom: $width solid transparent;
    }
  }

  @if $direction==right {
    border: {
      left: $height/2 solid $color;
      top: $width solid transparent;
      bottom: $width solid transparent;
    }
  }
}
