@import "./variable";
@import "./mixin";

// 打开模态窗时禁止页面滚动
body.modal-open {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

// header
@import '../../components/cus-header/index.scss';
// footer
@import '../../components/cus-footer/index.scss';
// gotop
@import '../../components/cus-gotop/index.scss';

@import "./pagetext";
