@import './variable';
@import './mixin';

// 课程介绍
.kcjs{
    padding:20px 0 20px 360px;
    background: url(../img/home/course_introduction.png) 0 center no-repeat;
    .txt{
        padding: 30px;
        background: url(../img/global/left.png) 0 0 no-repeat,url(../img/global/right.png) right bottom no-repeat;
    }
}
// 解剖图库
.list-image{
    margin-left: -1%;
    margin-right: -1%;
    li{
        display: inline-block;
        width: 31.3333%;
        margin: 10px 1%;
        img{
            width: 100%;
            display: block;
            border: 1px solid #DBDBDB;
            margin-bottom: 10px;
            // height: auto;
            height: 247px;
        }
        .title{
            text-align: center;
            display: block;
            font-size: 1.6rem;
            @include text-overflow();
        }
    }
}
// 移动端资源不支持提示
.not-support{
  text-align: center;
  p{
      font-size:2.4rem;
      font-weight: bold;
      color: $theme;
      text-indent: 0;
  }
}

/*1024 - 1199*/
@media only screen and (max-width: 1199px) {}
/*768 - 1023*/
@media only screen and (max-width: 1023px) {
  .frame-main{
      padding-top: 50px;
  }
  .kcjs{
      padding-left: 0;
      background: none;
  }
}
/*640 - 767*/
@media only screen and (max-width: 767px) {
    .frame-main{
        padding: 20px 16px;
    }
}
/*480 - 639*/
@media only screen and (max-width: 639px) {
    .list-image li{
        width: 48%;
    }
    .list-image li img{
        height: 200px;
    }
}
/*360 - 479*/
@media only screen and (max-width: 479px) {}
/*320 - 359*/
@media only screen and (max-width: 359px) {

    .list-image li img{
        height: 160px;
    }
}
// 试题
@import "./exam";
// 教学资源
@import './source';
// 教师团队
@import './teacher';
