@import './variable';
.home-page {
  .banner {
    position: relative;
    background-size: auto 100%;
    .swiper-slide {
      // opacity: 0 !important;
      &.swiper-slide-active {
        opacity: 1 !important;
      }
    }
    .swiper-pagination {
      left: 50%;
      bottom: 30px;
      transform: translate(-50%, 0);
      z-index: 10000;
      span {
        width: 8px;
        height: 8px;
        background: $theme;
        border-radius: 4px;
        margin: 0 5px;
        outline: none;
        opacity: 1;
        transition: all 0.5s ease;
        &.swiper-pagination-bullet-active {
          width: 30px;
        }
      }
    }
  }

  .link-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    a {
      width: 31.3333%;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 3px;
      display: flex;
      box-shadow: 0 0 6px 0 rgba($color: #000000, $alpha: 0.3);
      align-items: center;
      border: 1px solid #fff;
      transition: all 0.5s ease;
      .txt {
        padding-left: 20px;
        span {
          font-size: 1.6rem;
        }
        .title {
          font-size: 2.8rem;
          margin-bottom: 12px;
        }
      }
      &:nth-child(1) {
        border-bottom: 3px solid #ff6b42;
        &:hover {
          border-color: #ff6b42;
        }
      }
      &:nth-child(2) {
        border-bottom: 3px solid #36ddf1;
        &:hover {
          border-color: #36ddf1;
        }
      }
      &:nth-child(3) {
        border-bottom: 3px solid #5aa1ff;
        &:hover {
          border-color: #5aa1ff;
        }
      }
    }
  }
  .course-introduction {
    background: #f5f5f5;
    padding: 20px 0;
    .content-box {
      background: url(../img/home/course_introduction.png) left center no-repeat;
      padding: 20px 30px 40px 360px;
    }
    .title {
      margin-bottom: 20px;
      border-left: 3px solid #CACACA;
      padding-left: 12px;
      span {
        font-size: 1.8rem;
        display: block;
        color: #cacaca;
      }
      .zh {
        color: $theme;
        font-size: 2.4rem;
      }
    }
    p a {
      color: $theme;
    }
  }
}

/*768 - 1023*/
@media only screen and (max-width: 1023px) {
  .home-page .link-list a{
    flex-direction: column;
    padding: 15px 10px;
  }
  .home-page .link-list a .txt{
    text-align: center;
    padding: 15px 0;
  }
  .home-page .course-introduction .content-box{
    padding-left: 30px;
    background: none;
  }
}
/*640 - 767*/
@media only screen and (max-width: 767px) {
  .home-page .link-list a .txt span{
    display: none;
  }
  .home-page .link-list a .txt{
    padding-bottom: 0;
  }
}
/*480 - 639*/
@media only screen and (max-width: 639px) {
  .home-page .link-list{
    padding: 30px 10px;
  }
  .home-page .link-list a .txt .title{
    font-size: 2rem;
  }
  .home-page .link-list a img{
    max-width: 50%;
    height: auto;
  }
}
/*360 - 479*/
@media only screen and (max-width: 479px) {}
/*320 - 359*/
@media only screen and (max-width: 359px) {
  .home-page .link-list a .txt .title{
    width: 2em;
  }
}
