<div class="scos-list content-box">
    <!-- 章列表 -->
    <div class="chapter-box">
        <span class="btn-prev-chapter"></span>
        <swiper :options="swiperOption" class="chapter-list" ref="chapterSwiper">
            <swiper-slide v-for="(item, index) in chapter" :key="index">
                <a :class="{active:index === chapterIndex}"
                    @click="selectChaper(index)">{{item.chapterTitle|split(0)}}</a>
            </swiper-slide>
        </swiper>
        <span class="btn-next-chapter"></span>
    </div>

    <!-- 当前章名称 -->
    <div class="frame-page-title content-box"><span>{{chapterTitle}}</span>
    </div>

    <!-- 知识点列表 -->
    <div class="ware-list clearfloat">
        <template v-for="(item, index) in children">
            <!-- 判断是否是知识点，当三级结构时是节而不是知识点 -->
            <div class="section-title clearfloat" :key="chapterIndex+'-'+index" v-if="item.ware">{{item.sectionTitle}}
            </div>
            <div class="ware-item animated zoomIn" v-for="(subitem, subindex) in createWare(item)"
                :key="chapterIndex+'-'+index+'-'+subindex">
                <router-link :to="creatScoHref(!!item.ware,index,subindex)">
                    <!-- 知识点封面 -->
                    <div class="ware-thumb">
                        <!-- 状态 -->
                        <span class="ware-isviewed" v-if="isViewed(subitem)">已浏览</span>
                        <img v-lazy="'./assets/thumb/' + subitem.wareThumb">
                        <span class="point" :class="{key:subitem.keyPoint,difficult:subitem.difficultPoint}"  v-if="subitem.keyPoint||subitem.difficultPoint">{{subitem.keyPoint?"重":""}}{{subitem.difficultPoint?"难":""}}点</span>
                    </div>
                    <div class="ware-info">
                        <!-- 知识点名称 -->
                        <div class="ware-title">{{subitem.wareTitle}}</div>
                        <div class="start-learn">开始学习</div>
                    </div>
                </router-link>
            </div>
        </template>
    </div>
</div>