<div class="scos-list content-box">
    <!-- 知识点列表 -->
    <c-page-container v-if="searchResult.length" :key="$route.query.keyword">
        <c-page-item v-for="page in totalPage" :key="page">
            <div class="ware-list clearfloat">
                <div class="ware-item animated zoomIn" v-for="(item, index) in getNowPageList(page)" :key="index">
                    <router-link :to="creatScoHref(item.chapterIndex,item.sectionIndex,item.wareIndex)">
                        <!-- 知识点封面 -->
                        <div class="ware-thumb">
                            <!-- 状态 -->
                            <span class="ware-isviewed" v-if="isViewed(item)">已浏览</span>
                            <img v-lazy="'./assets/thumb/' + item.wareThumb">
                            <span class="point" :class="{key:item.keyPoint,difficult:item.difficultPoint}"
                                v-if="item.keyPoint||item.difficultPoint">{{item.keyPoint?"重":""}}{{item.difficultPoint?"难":""}}点</span>
                        </div>
                        <div class="ware-info">
                            <!-- 知识点名称 -->
                            <div class="ware-title" v-html="highlight(item.wareTitle)"></div>
                            <div class="start-learn">开始学习</div>
                        </div>
                    </router-link>
                </div>
            </div>
        </c-page-item>
    </c-page-container>
    <div class="empty"  v-if="!searchResult.length">
        <img src="./assets/img/frame/empty.png" alt="">
        <div class="text">抱歉，未搜索到相关内容！请更换关键词后再试！</div>
    </div>
</div>
