<div class="frame-main">
        <c-page-container>
            <c-page-item v-for="page in totalPage" :key="page">
                <div class="chapter" v-for="(chapter, chapterIndex) in getNowPageList(page)" :key="chapterIndex">
                    <h1>{{chapter.chapterName}}</h1>
                    <ul class="section-list ppt">
                        <li v-for="(section, sectionIndex) in chapter.sectionList" :key="sectionIndex">
                            <div class="section-title">{{section.title}} <span class="show-btn" @click="showCurrent(chapterIndex,sectionIndex)">在线查看</span> <a class="download-btn" :href="section.downloadUrl" :download="getDownloadName(section)">下载</a> </div>
                            <div class="media-box" v-if="(current===chapterIndex+'-'+sectionIndex)">
                                <c-pdf :src="section.showUrl" ></c-pdf>
                            </div>
                        </li>
                    </ul>
                </div>
            </c-page-item>
        </c-page-container>
    </div>
